<ion-content>
  <swiper-container slides-per-view="1" pagination='{"clickable": false}' loop="true" autoplay-delay="3000">
    <swiper-slide>
      <div class="card1 ">
        <button class="left-btn">Buy</button>
        <!-- <img src="assets/p13_edited.jpg" alt="Slide 1"> -->
      </div>
    </swiper-slide>
    <swiper-slide>
      <!-- <img src="assets/trishul.jpg" alt="Slide 2"> -->
      <div class="card1 ">
        <button class="left-btn">Buy</button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <!-- <img src="assets/20200621_215203.jpg" alt="Slide 3"> -->
      <div class="card1 ">
        <button class="left-btn">Buy</button>
      </div>
    </swiper-slide>
  </swiper-container>




  <swiper-container slides-per-view="1" pagination='{"clickable": false}' loop="true" autoplay-delay="3000">
    <swiper-slide>
      <div class="card">
        <button class="left-btn">Buy</button>
        <div class="content">Card 1 Content</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card">
        <button class="left-btn">Buy</button>
        <div class="content">Card 2 Content</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card">
        <button class="left-btn">Buy</button>
        <div class="content">Card 3 Content</div>
      </div>
    </swiper-slide>
  </swiper-container>




  <swiper-container slides-per-view="1" pagination='{"clickable": false}' loop="true" autoplay-delay="3000">
    <swiper-slide>
      <div class="card1">
        <button class="left-btn">Buy</button>
        <div class="content">Card 1 Content</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card1">
        <button class="left-btn">Buy</button>
        <div class="content">Card 2 Content</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card1">
        <button class="left-btn">Buy</button>
        <div class="content">Card 3 Content</div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
