<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="store" href="/tabs/tab1">
      <img src="assets/icon/store_active.svg" style="width: 24px; height: 24px;" alt="Store Icon">
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/tab2">
      <img src="assets/icon/home1.png" style="width: 24px; height: 24px;" alt="Store Icon">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/tabs/tab3">
      <img src="assets/icon/Product.png" style="width: 24px; height: 24px;" alt="Store Icon">
      <ion-label>Orders</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="auction" href="/tabs/tab4">
      <img src="assets/icon/hammer.png" style="width: 24px; height: 24px;" alt="Store Icon">
      <ion-label>Auction</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
