:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
    --background: #fff;

}



router-outlet {
  flex: 1;
  overflow: auto;
}

#main-content {
  height: 100%;
  display: flex;
  flex-direction: column;

}

ion-menu {
  --background: #fff;
  --width: 270px;

  ion-header {
    ion-toolbar {
      --background: #d32f2f;
      --color: #fff;
      text-align: center;

      ion-title {
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }
  }

  
    ion-content {
      --background: #fff;
    
      ion-list {
        --background: #fff;
  
        margin: 0;
      padding: 0;

      ion-item {
        --background: #fff;
        --color: #212121;
        font-size: 1rem;
        font-weight: 500;
        padding-left: 16px;
        padding-right: 10px;
        border-bottom: 1px solid #e0e0e0;
        margin: 0;
        --border-radius: 0;
        border-bottom: 1px solid #e0e0e0;

        ion-label {
          margin: 14px 0;
        }

        ion-icon {
          color: #9e9e9e;
          font-size: 18px;
        }

        &:hover {
          --background: #dc9999;
          color: #fbfbfb;
          cursor: pointer;
        }

        &.selected {
          --background: #f5f5f5;
          color: #d32f2f;
        }
      }
    }
  }
.avatar {
  width: 130px;
  height: 130px;
  border: 5px solid #d32f2f;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.35);
  margin-bottom: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

  .custom-action-sheet {
  --background: #121212;
  --color: #ffffff;
  --button-color: #ffffff;
  --button-background-hover: #1e1e1e;
  --backdrop-opacity: 0.6;

  ion-action-sheet-group {
    border-radius: 12px;
    overflow: hidden;
  }

  ion-action-sheet-button {
    --color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;

    &:hover {
      background: #1e1e1e;
    }

    &.action-sheet-cancel {
      color: #ff5252;
    }
  }

  ion-action-sheet-header {
    --color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
//  item-lines-default in-list {
//   --ion-item-background: transparent;
//   --ion-item-color: #ffffff;
//   --ion-item-border-color: rgba(255, 255, 255, 0.1);

// }
app-header{
  position: relative;
  z-index: 500; 
}
}
