<ion-tabs class="app-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="marketplace" href="/marketplace">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" href="/orders">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auctions" href="/auctions">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Auction</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
